@use '../../theme' as *;

.container {
  display: flex;
  height: 50px;
}

.icon {
  -webkit-app-region: drag;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: #{$padding-s-m}px;
  img {
    border-radius: #{$border-radius-s-m}px;
    width: 100%;
    height: 100%;
  }
}

.input-container {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  :global(.icon-close) {
    position: absolute;
    right: 0;
    background: var(--color-fill-tertiary);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background: var(--color-fill-secondary);
    }
  }
}

.input {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: #{$font-size-x-l}px;
  background-color: var(--color-bg-container);
}

.more {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s;
  span {
    font-size: 28px;
  }
  &:hover {
    color: var(--color-primary);
  }
}
