@font-face {
  font-family: 'tinker-icon';
  src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAQ4AAsAAAAABrAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAAEUAAABmILElhk9TLzIAAAFQAAAAPQAAAFZL/UkdY21hcAAAAZAAAAB5AAAByPQT4NJnbHlmAAACDAAAAEkAAABwkysqW2hlYWQAAAJYAAAALgAAADZzWr4paGhlYQAAAogAAAAYAAAAJAE+AM9obXR4AAACoAAAAA8AAAAYAMgAAGxvY2EAAAKwAAAADgAAAA4AqABwbWF4cAAAAsAAAAAfAAAAIAETADBuYW1lAAAC4AAAASkAAAIWm5e+CnBvc3QAAAQMAAAALAAAAD5zZ3hJeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiAWg9IsYMwMxKxAFiMDEwCIkQV6AAAAeJxjYGRQZJzAwMrAwFDH0AMkZaB0AgMngzEDAxMDKzMDVhCQ5prCcIAh9SMjwwkgVwhMMjAwgggAYaAIqAAAAHiczZHBDYMwDEWfQ0AIMUonqboGRxSJQ09dOhOE79QcukDFj15if0V2rAAjMIiHyGAfDNdbrnV/YOl+5ql8ZSYp3tgpHNVak/ubXTLdvpZ3SqqVvapN/EdjnN7Zx7uT1r6/IvOXboHHe5BECfyfjkDDVPuCndu0EawAAAB4nGNgZgCBUoYNDNwM4gzKDAzmJnaMRnKMoiJsSmqmONjBrBwcHKxcfFzotBYLBwsQsXNxObJwsLJCWKwgMVZ2Tk6gRQAzkAg+AAAAeJxjYGRgYADiLGNf5nh+m68M3AwngAJRnI/3NSBoIChl2AAkORiYQBwAEcsJmwAAeJxjYGRgYDjBwAAnSxkYGVABGwA0zQIOeJxjYACCEwwYAAAO8ADJAAAAAAAAOAA4ADgAOAA4AAB4nGNgZGBgYGNQYWBmAAEmIOYCQgaG/2A+AwAMtQFEAHicZZA9bsJAFITHYEgCUoIUKSmzVQoimZ+SA0BPQZfCmLUxsr3WekGiywlyhBwhp4hyghwoY/NoYC0/fzNv3u7KAAb4hYd6ebhtar1auKE6cZv0IOyTn4U76ONFuEt/KNzDG6bCfTzinTt4/h2dAUrhFu7xIdym/ynsk7+EO3jCt3CX/o9wDyv8Cffx6g3TyBSxKdxSJ/sstGd5/q60rVJTqEkwPlsLXWgbOr1R66OqDsnUuVjF1uRqzq7OMqNKa3Y6csHWuXI2GsXiB5HJkSKCQYG4qQ5LaCTYI0MIe9W91CumLSr6tVaYIMD4KrVgqmiSIZXGhsk1jqwVDjxtStcxrfhazuSkucxq3iQjK/7vurejE9EPsG2mSsww4hNf5IPmDvk/PRFeqAAAAHicY2BigAAYjQ7YGJkYmRlZGFkZ2RjZGVhy84tSGXMZ8xmLGFMZGAAkcAOa')
    format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
  display: inline-block;
  font-family: 'tinker-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: '\f101';
}
