@font-face {
  font-family: 'tinker-icon';
  src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAXoAAsAAAAAChAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAAHEAAACeIbEmEU9TLzIAAAF8AAAAPQAAAFZWz1GSY21hcAAAAbwAAADJAAACaossL+tnbHlmAAACiAAAAUEAAAJoSZLsKGhlYWQAAAPMAAAALwAAADZ25MSlaGhlYQAAA/wAAAAZAAAAJAgABBNobXR4AAAEGAAAABAAAABIFAAAAGxvY2EAAAQoAAAAFgAAACYJmAjobWF4cAAABEAAAAAfAAAAIAEfAFZuYW1lAAAEYAAAASkAAAIWm5e+CnBvc3QAAAWMAAAAWgAAAIFFPRY6eJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiD2YmBm4AHqtQKLgzA7UJyTgYmBjUEEyGMDsvmAmB+ImRlYgSQ3UD0vWCUrEPIB1QsCRRmBsmxAVwkAAAM0BwUAAAB4nGNgZJRhnMDAysDA1Ml0hoGBoR9CM75mMGLkAIoysDIzYAUBaa4pDAcYkj6ysIC4MSwQYUYQAQC58QkCAAAAeJy90ksOgjAQBuB/eMlLgcS48gieykdwASFBuYkrT+VVegL8h07i1hXTfCEzgXbaAiAGENKJIkDeEGi8WJWlHiJf6hHuzHdIESDBDS16DJhcNM+sn5l3zEcnS/4L4Td7jgPHkXmBmjNm2LKeYMP5GlQo+V7ANdiPJFghijrXHnRL2gXSpirXWPfP8L18LKuhJ+wVdDFavxreEm/Fy6g1usfO7Kg3esqD4f4xmpQepqGnqWgy7M6Jp3+JCzzoM/T0b3IG8RcaHiG7AAAAeJxjYGYAAqYw5kYGDgZBBikGBlUTMyMxETYlNUEMBuNqIzcjNHRVxcjI3ciI0U8ZLACmgXwGJpC5zP+ZvzA4MXgyMDCKsGkzirCLg8zRZ+RjURZUFlTSY9JnZGdTVtJjtGdUM1VWUjMxs2Y0VQdSRvKMiuYgW/kZRY2NxEQZFUFuEGX+JyHYr9XCI67MXcfCo6llLxek4KinxslZyivEL8HE3ajaLygBVJLPI6HIm8cklcejJMGTDxT7d+5fRvmqcsadghK5Pq0g0TpmbikRQSabv0eEJCQ5OVv4xJR4JnqmSShK7MnjUZTkyc/nkVTkydsjIcCYH1peHgoOpmHoJ0awn5yZnRm4gRx2cXZxc3FzdXN1dkbhsLdvQt++BZPMzmFQFpCE6tFm1gbrUWdXh2lj1rZ5/x6GmN4jcQCdh4KOAAAAeJxjYGRgYADiY4/ny8Tz23xl4GYBCURxPt7XgKAZGJj/M38BUhwMTCAeAEMCCyIAeJxjYGRgYGEAAQjJ/J+BkQEVCAEAFHsBHwAAAHicY2BgYGDBgkkFAAT4ABV4nGNgAAIdhmmMDIxSjCa4IAA9/gOQAAB4nGNgZGBgEGLwYmBmAAEmIOYCQgaG/2A+AwARrwF2AHicZZA9bsJAFITHYEgCUoIUKSmzVQoimZ+SA0BPQZfCmLUxsr3WekGiywlyhBwhp4hyghwoY/NoYC0/fzNv3u7KAAb4hYd6ebhtar1auKE6cZv0IOyTn4U76ONFuEt/KNzDG6bCfTzinTt4/h2dAUrhFu7xIdym/ynsk7+EO3jCt3CX/o9wDyv8Cffx6g3TyBSxKdxSJ/sstGd5/q60rVJTqEkwPlsLXWgbOr1R66OqDsnUuVjF1uRqzq7OMqNKa3Y6csHWuXI2GsXiB5HJkSKCQYG4qQ5LaCTYI0MIe9W91CumLSr6tVaYIMD4KrVgqmiSIZXGhsk1jqwVDjxtStcxrfhazuSkucxq3iQjK/7vurejE9EPsG2mSsww4hNf5IPmDvk/PRFeqAAAAHicbcRLDkAwFEDRd1H/v3UY2BJ9Mak0UfYvYeoMjkTyKeXfSERMgiElI6egpKKmoaWjZ2BkkuTwpxqr671n7/OSWnV6qdmcD8qB50SxrNzsOC42gsgDUnYQyAAA')
    format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
  display: inline-block;
  font-family: 'tinker-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: '\f101';
}
.icon-debug:before {
  content: '\f102';
}
.icon-delete:before {
  content: '\f103';
}
.icon-close:before {
  content: '\f104';
}
